{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- locations -->
	<div
		class="container c-section">
		<!-- todo: Roep All locations op en pas de title en subtitle aan.  -->
		{% set allLocations = craft.entries.section('locations').level(1).one() %}

		<h2 class="c-section__title">{{ allLocations.title }}</h2>
		<p class="c-section__subtitle">{{ allLocations.subtext }}</p>

		<div
			class="row justify-content-center c-section__content c-locations text-center">
			<!-- Roep alle children van All Locations op en loop ze over de lijst. Dit zijn de titels per kolom. Roep dan hiervan ook nog eens de children van op en laat deze de lijst vullen. -->
			{% set provincies = allLocations.children().all() %}

			{% for provincie in provincies %}

				<div class="col-12 col-sm-3 col-lg-2">

					<h3>{{ provincie.title }}</h3>
					<ul class="c-locations__list">

						{% set cities = provincie.children().all() %}

						{% for city in cities %}
							<li class=" c-locations__list-item pb-2">
								<a class="c-locations__link " href="{{ city.uri }}">
									{{ city.title }}
								</a>
							</li>
						{% endfor %}

					</ul>

				</div>

			{% endfor %}
			{# <div class="col-12 col-sm-3 col-lg-2">
																																																							<ul class="c-locations__list">
																																																								<li class="c-locations__list-item pb-2">
																																																									<a class="c-locations__link " href="#">
																																																										Antwerpen
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																			
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																			
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																							</ul>
																																																						</div>
																																																						<div class="u-hidden col-sm-3 col-lg-2">
																																																							<ul class="c-locations__list">
																																																								<li class="c-locations__list-item pb-2">
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																			
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																			
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																							</ul>
																																																						</div>
																																																						<div class="u-hidden col-sm-3 col-lg-2">
																																																							<ul class="c-locations__list">
																																																								<li class="c-locations__list-item pb-2">
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																			
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																								<li class="c-locations__list-item pb-2">
																																																			
																																																									<a class="c-locations__link " href="#">
																																																										Gent
																																																									</a>
																																																								</li>
																																																							</ul>
																																																						</div> #}

		</div>
		<img class="col-12 mb-5" src="{{url('img/map.png')}}" alt="">


	</div>


{% endblock %}
